@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.navbarabout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151617;
  padding: 1rem 1.5rem;
}
.nav-logoabout {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.nav-menuabout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-itemabout {
  margin-left: 3rem;
}

.nav-linkabout{
  font-size: 19px;

  color: white; 
}


.nav-linkabout:hover{
  color: #1ae5f7;
}
.about-usabout{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #ddd;
}
.picabout{
  height: 350px;
  width:  350px;
}
.aboutabout{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.textabout{
  width: 540px;
}
.textabout h2{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #151617;

}
.textabout h5{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #151617;
}
span{
  color: #4070f4;
}
.textabout p{
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #151617;
}
.data{
  margin-top: 30px;
}
.footer {
  position: fixed;
  min-height: 10%;
  bottom: 0px;
  width: 100%;
  padding: 30px;
  background-color: rgb(15, 5, 5);
  color: white;
  text-align: center;
  font-size: 20px;
}

 